@use 'lib' as *;

.about {
	$self: &;
	background: url('./images/bg-about.svg') calc(50% + 75px) 50% / cover no-repeat #fff;
	min-height: fluid(710px, 550px);
	padding: 50px 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	
	@include media('<=xlg') {
		background-position: 52% 50%;
	}
	
	@include media('<=lg') {
		background-position: 54% 50%;
	}
	
	@include media('<=md') {
		background-position: 56% 50%;
	}
	
	@include media('<=sm') {
		background-position: 56% 50%;
		min-height: auto;
	}

	@include media('<=xs') {
		padding: 70px 0	60px;
	}
	
	@include media('<=xxs') {
		background: url('./images/bg-about-mobile.svg') center top / auto no-repeat #fff;
	}

	&_rtl {

		#{$self}__inner {
			grid-gap: 100px;

			@include media('<=xs') {
				grid-gap: 40px;
			}
		}
		
		#{$self}__side {
			font-family: "AS", sans-serif;
		}

		#{$self}__title {
			direction: rtl;
			font-weight: 800;
		}
		
		#{$self}__text {
			font-weight: 400;
			font-size: fluid(28px, 15px);
			line-height: 1.35;
			direction: rtl;
		}
	}

	&__inner {
		display: flex;
		grid-gap: 24px;
		align-items: center;
		max-width: 1060px;

		@include media('<=sm') {
			flex-flow: column nowrap;
		}
	}

	&__side {

	}

	&__title {
		color: var(--darkgreen);
		margin-bottom: 20px;
		font-weight: 700;
		font-size: fluid(70px, 40px);

		@include media('<=sm') {
			text-align: center;
		}

		@include media('<=xs') {
			margin-bottom: 27px;
		}
	}
	
	&__text {
		color: var(--darkgreen);
		margin-bottom: 50px;
		font-weight: 200;
		font-size: fluid(25px, 14px);
		letter-spacing: 0.02em;

		@include media('<=sm') {
			margin: 0;
		}

		@include media('<=xs') {
			text-align: center;
		}
	}

	&__image {
		width: fluid(540px, 270px);
		aspect-ratio: 1;
		flex-shrink: 0;
		border: 30px solid var(--green);
		border-width: fluid(30px, 15px);
		// box-sizing: content-box;
		border-radius: 1000px;
		margin-right: -24%;
		overflow: hidden;
		flex-grow: 0;
		
		@include media('<=xlg') {
			margin-right: -10%;
		}

		@include media('<=sm') {
			margin: 0 auto;
			order: -1;
		}
	}
}