<footer class="footer"> 
	<div class="footer__inner container">
		<div class="footer__side">
			<a class="footer__logo" href="./"><img src="./images/logo.webp" alt=""></a>
			<div class="footer__contacts">
				<div class="footer__contact">
					<a href="./">Ха-Хагана 13 Ришон ле-Цион</a>
					<img src="./images/contact-icon-geo.svg" alt="">
				</div>
				<div class="footer__contact">
					<a href="./">+972 524455544</a>
					<img src="./images/contact-icon-phone.svg" alt="">
				</div>
				<div class="footer__contact">
					<a href="./">0524455@gmail.com</a>
					<img src="./images/contact-icon-email.svg" alt="">
				</div>
			</div>
			<div class="footer__socials">
				<a class="footer__social" href="./">
					<img src="./images/social-icon-insta.svg" alt="">
				</a>
				<a class="footer__social" href="./">
					<img src="./images/social-icon-fbook.svg" alt="">
				</a>
				<a class="footer__social" href="./">
					<img src="./images/social-icon-whapp.svg" alt="">
				</a>
			</div>
		</div>
		<form class="footer__form form" action="./" data-form-js>
			<h2 class="form__title title">Связаться с нами</h2>
			<div class="form__text">Если у вас есть дополнительные вопросы или вы хотите записаться на прием, оставьте свои данные, и мы свяжемся с вами как можно скорее.</div>
			<h3 class="form__subtitle">Имя</h3>
			<div class="form__field">
				<input type="text" name="name">
				<span class="form__error"></span>
			</div>
			<h3 class="form__subtitle">Мобильный телефон</h3>
			<div class="form__field">
				<input type="text" name="phone">
				<span class="form__error"></span>
			</div>
			<button class="form__button">Отправить</button>
		</form>
	</div>
</footer> 

<!-- @@include("_sprite.svg") -->
<script src="common.js?v=0"></script> 
</body> 
</html>