<footer class="footer"> 
	<div class="footer__inner container">
		<div class="footer__first">
			<div class="footer__side">
				<a class="footer__logo logo" href="./">
					<img src="./images/logo.webp" alt="">
					<span>בסט סיגמא פרישה ופיננסים</span>
				</a>
				<div class="footer__contacts">
					<div class="footer__contact">
						<a href="https://maps.app.goo.gl/URR3R27B8DAUA2pV8" target="_blank">ההגנה 13 ראשון לציון</a>
						<img src="./images/contact-icon-geo.svg" alt="">
					</div>
					<div class="footer__contact">
						<a href="tel:+972524455544">+972 524455544</a>
						<img src="./images/contact-icon-phone.svg" alt="">
					</div>
					<div class="footer__contact">
						<a href="mailto:dima.bestsigma@gmail.com">dima.bestsigma@gmail.com</a>
						<img src="./images/contact-icon-email.svg" alt="">
					</div>
				</div>
				<div class="footer__socials">
					<a class="footer__social" href="./">
						<img src="./images/social-icon-insta.svg" alt="">
					</a>
					<a class="footer__social" href="./">
						<img src="./images/social-icon-fbook.svg" alt="">
					</a>
					<a class="footer__social" href="http://wa.me/972524455544">
						<img src="./images/social-icon-whapp.svg" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="footer__last">
			<form class="footer__form form form_rtl" id="form" action="./" data-form-js>
				<h2 class="form__title">צור קשר</h2>
				<div class="form__text">לשאלות נוספות וקביעת פגישה ניתן להשאיר פרטים ואנו ניצור אתכם קשר בהקדם.</div>
				<h3 class="form__subtitle">שם</h3>
				<div class="form__field">
					<input type="text" name="name">
					<span class="form__error"></span>
				</div>
				<h3 class="form__subtitle">טלפון נייד</h3>
				<div class="form__field">
					<input type="text" name="phone">
					<span class="form__error"></span>
				</div>
				<button class="form__button">שלח</button>
			</form>
		</div>
	</div>
	<div class="footer__developer"><a href="https://wwdiv.com/">© Made with <span>&hearts;</span> by WWdiv Studio</a></div>
</footer>

<!-- @@include("_sprite.svg") -->
<script src="common.js?v=0"></script> 
</body> 
</html>