<footer class="footer"> 
	<div class="footer__inner container">
		<div class="footer__first">
			<div class="footer__side">
				<a class="footer__logo logo" href="./">
					<img src="./images/logo.webp" alt="">
					<span>בסט סיגמא פרישה ופיננסים</span>
				</a>
				<div class="footer__contacts">
					<div class="footer__contact">
						<a href="https://maps.app.goo.gl/URR3R27B8DAUA2pV8" target="_blank">Ha-Hagana St 13, Rishon LeTsiyon</a>
						<img src="./images/contact-icon-geo.svg" alt="">
					</div>
					<div class="footer__contact">
						<a href="tel:+97237283333">+972 37283333</a>
						<img src="./images/contact-icon-phone.svg" alt="">
					</div>
					<div class="footer__contact">
						<a href="mailto:bbestsigma@gmail.com">bbestsigma@gmail.com</a>
						<img src="./images/contact-icon-email.svg" alt="">
					</div>
				</div>
				<div class="footer__socials">
					<a class="footer__social" href="https://www.instagram.com/bestsigma2023/" target="_blank">
						<img src="./images/social-icon-insta.svg" alt="">
					</a>
					<a class="footer__social" href="https://www.facebook.com/Bestsigmayanbronfman" target="_blank">
						<img src="./images/social-icon-fbook.svg" alt="">
					</a>
					<a class="footer__social" href="http://wa.me/972542687404">
						<img src="./images/social-icon-whapp.svg" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="footer__last">
			<form class="footer__form form" id="form" action="./" data-form-js>
				<div class="form__success">
					<h2>Большое спасибо!</h2>
					<p>Мы свяжемся с вами как можно скорее.</p>
				</div>
				<h2 class="form__title">Связаться с нами</h2>
				<div class="form__text">Если у вас есть дополнительные вопросы или вы хотите записаться на прием, оставьте свои данные, и мы свяжемся с вами как можно скорее.</div>
				<div class="form__field">
					<input type="text" name="regoin">
					<span class="form__error"></span>
				</div>
				<h3 class="form__subtitle">Имя</h3>
				<div class="form__field">
					<input type="text" name="name">
					<span class="form__error"></span>
				</div>
				<h3 class="form__subtitle">Мобильный телефон</h3>
				<div class="form__field">
					<input type="text" name="phone">
					<span class="form__error"></span>
				</div>
				<button class="form__button">отправить</button>
			</form>
		</div>
	</div>
	<div class="footer__developer"><a href="https://wwdiv.com/" target="_blank">© Made with <span>&hearts;</span> by WWdiv Studio</a></div>
</footer>

<!-- @@include("_sprite.svg") -->
<script src="common.js?v=0"></script> 
</body> 
</html>