<header class="header @@if(this.mod){header_@@mod}" data-header-js>
	<div class="header__inner container">
		<div class="header__top">
			<!-- <button class="header__toggle">
				<img src="./images/toggle-icon.svg" alt="">
			</button>
			<nav class="header__menu menu">
				<button class="menu__close">
					<img src="./images/close-icon.svg" alt="">
				</button>
				<a class="menu__link" href="#planning">Домашняя страница</a>
				<a class="menu__link" href="#about">Кто мы?</a>
				<a class="menu__link" href="#blog">Блог</a>
			</nav> -->
			<a class="header__lang header__lang_ru" href="./">Русский</a>
			<a class="header__logo logo" href="./">
				<img src="./images/logo.webp" alt="">
				<span>בסט סיגמא פרישה ופיננסים</span>
			</a>
		</div>
		<div class="header__body">
			<div class="header__image">
				<img src="./images/stuff/header-image.webp" alt="">
			</div>
			<div class="header__side">
				<h1 class="header__title">Пенсия с умом -<br> жизнь с удовольствием</h1>
				<div class="header__sentence">Мы поможем вам спланировать пенсию грамотно -<br> с учётом всех нюансов и возможностей. Индивидуальный подход для уверенного будущего.</div>
				<a class="header__button" href="#form">Связаться с нами</a>
			</div>
		</div>
	</div>
</header>