@use 'lib' as *;

.footer {
	$self: &;
	background: url('./images/bg-footer.svg') center / cover no-repeat #f8f8f8;
	
	@include media('<=xlg') {
		background-position: calc(50% + 130px) 50%;
	}
	
	@include media('<=md') {
		background: none;
		background-color: #fff;
	}

	&_rtl {
		#{$self}__contact:first-child a {
			font-size: 20px;
		}
	}
	
	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 24px;
		max-width: 1280px;
		padding: 0 165px 80px 0;
		
		@include media('<=xlg') {
			padding: 0 40px 80px 0;
		}
		
		@include media('<=lg') {
			padding: 0 0 80px 0;
		}
		
		@include media('<=md') {
			flex-flow: column nowrap;
			width: 100% !important;
			padding: 0;
			gap: 55px;
		}
	}

	&__first {
		padding-top: 65px;
		flex-grow: 1;
		
		@include media('<=md') {
			order: 1;
			background-color: #BBCDC1;
			padding: 60px var(--gap) 95px;
		}
	}
	
	&__side {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		max-width: 340px;
		flex-grow: 1;

		@include media('<=md') {
			margin: 0 auto;
		}
	}

	&__logo {
		display: block;
		margin-bottom: 78px;
		max-width: 246px;
		width: 100%;
		font-size: 19px;

		img {
			display: block;
			width: 100%;
		}

		@include media('<=md') {
			margin: 0 auto 78px;
		}
	}

	&__contacts {
		display: flex;
		flex-flow: column nowrap;
		gap: 16px;
		align-items: flex-end;
		margin-bottom: 55px;
	}

	&__contact {
		display: flex;
		align-items: center;
		text-align: right;
		gap: 10px;
		font-size: 18px;
		font-weight: 600;

		a {
			color: inherit;
			text-decoration: none;
			line-height: 1;
		}
	}

	&__socials {
		display: flex;
		justify-content: space-between;
		max-width: 240px;
		width: 100%;

		@include media('<=md') {
			margin: 0 auto;
		}
	}

	&__social {
		text-decoration: none;
	}

	&__last {
		padding-top: 82px;
		flex-grow: 1;
		
		@include media('<=xs') {
			padding-top: 20px;
		}
	}
	
	&__form {
		max-width: 420px;
		margin-left: auto;

		@include media('<=md') {
			margin: 0 auto;
			max-width: 450px;
		}
	}

	&__developer {
		text-align: center;
		font-size: fluid(14px, 12px);
		color: #222;
		padding: 3px var(--gap);
		background-color: rgba(255, 255, 255, 0.3);

		@include media('<=md') {
			background-color: #cedbd2;
		}

		span {
			color: #888;
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	}
}