@use 'lib' as *;

.planning {
	$self: &;

	&__inner {
		max-width: 1060px;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		
		&::before {
			display: block;
			content: '';
			background: url('./images/decor-2.svg') center / contain no-repeat transparent;
			width: fluid(620px, 150px);
			aspect-ratio: 1.1;
			position: absolute;
			z-index: 1;
			left: 100%;
			top: 100%;
			translate: -9% -104%;
			
			@include media('<=lg') {
				translate: -30% -30%;
			}
		}
	}

	&__title {
		direction: rtl;
		margin-bottom: 28px;
		z-index: 1;
		font-size: fluid(40px, 30px);
		font-weight: 700;
		max-width: 810px;
		color: #000;
	}

	&__text {
		direction: rtl;
		font-size: fluid(20px, 15px);
		max-width: 810px;
		z-index: 1;
	}
	
	&__row {
		font-weight: 200;
		margin-bottom: 22px;
		
		h3 {
			font-weight: 400;
			line-height: 1.3;
			
			&::before {
				direction: rtl;
				display: inline-block;
				margin-inline-end: 10px;
				font-size: 13px;
				content: "•";
			}		
		}	
	}
}