@use 'lib' as *;

.service {
	$self: &;
	padding: 112px 0 105px;
	
	@include media('<=xs') {
		padding: 223px 0 68px;
	}

	&_rtl {
		#{$self}__title {
			direction: rtl;
			font-family: "AS", sans-serif;
			font-weight: 800;
		}
		
		#{$self}__item {
			direction: rtl;
			font-family: "AS", sans-serif;
		}
		
		#{$self}__subtitle {
			font-size: 30px;
			font-weight: 700;
		}
		
		#{$self}__text {
			font-size: 20px;
			font-weight: 300;
		}
	}

	&__inner {
		max-width: 1190px;
	}

	&__title {
		text-align: center;
		margin-bottom: 18px;
		font-size: fluid(70px, 40px);
		font-weight: 700;
		color: #000;

		@include media('<=xs') {
			margin-bottom: 70px;
		}
	}

	&__items.swiper {

		@include media('<=lg') {
			margin-left: calc(var(--gap) * -1);
			margin-right: calc(var(--gap) * -1);
			padding-left: var(--gap);
			padding-right: var(--gap);
		}
		
		.swiper-wrapper {
			padding-bottom: 5px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 18px;

			@include media('<=lg') {
				display: flex;
				grid-gap: 0;
			}
		}
	}

	&__item.swiper-slide {
		grid-column: span 1;
		background-color: #fff;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 40px;
		padding: 50px 22px 32px;
		min-height: 405px;
		height: auto;
	}

	&__icon {
		margin-bottom: 32px;
		
		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__subtitle {
		text-align: center;
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 15px;
		min-height: 65px;
	}
	
	&__text {
		text-align: center;
		font-weight: 200;
		font-size: 15px;
	}

	&__dots {
		display: none;
		justify-content: center;
		gap: 20px;
		padding-top: 40px;

		@include media('<=lg') {
			display: flex;
		}
	}

	&__dot {
		@extend %reset-button;
		aspect-ratio: 1;
		width: 14px;
		background-color: #828282;
		border-radius: 100px;

		&.active {
			background-color: var(--darkgreen);
		}
	}
}