@use 'lib' as *;

.choice {
	$self: &;
	padding: 105px 0 230px;
	
	@include media('<=lg') {
		padding: 105px 0 160px;
	}

	&__inner {
		max-width: 1200px;
		position: relative;

		&::before {
			display: block;
			content: '';
			background: url('./images/decor-1.svg') center / contain no-repeat transparent;
			width: fluid(600px, 200px);
			aspect-ratio: 1.45;
			position: absolute;
			translate: -80% 75%;
			bottom: 0;
			left: 0;
			z-index: 1;

			@include media('<=xs') {
				translate: -50% 50%;
			}
		}
	
		&::after {
			display: block;
			content: '';
			background: url('./images/decor-2.svg') center / contain no-repeat transparent;
			width: fluid(260px, 150px);
			aspect-ratio: 1.1;
			position: absolute;
			left: 100%;
			top: 0;
			z-index: 1;
			translate: -10% -20%;
			
			@include media('<=lg') {
				translate: -30% -40%;
			}
		}
	}

	&__title {
		text-align: center;
		margin-bottom: 100px;
	}

	&__items.swiper {
		z-index: 2;

		@include media('<=lg') {
			margin-left: calc(var(--gap) * -1);
			margin-right: calc(var(--gap) * -1);
			padding-left: var(--gap);
			padding-right: var(--gap);
		}
				
		.swiper-wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 18px;

			@include media('<=lg') {
				display: flex;
				grid-gap: 0;
			}
		}
	}

	&__item.swiper-slide {
		// padding: 35px 0 90px;
	}

	&__icon {
		margin-bottom: 60px;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__subtitle {
		text-align: center;
		margin-bottom: 18px;
		font-weight: 500;
		font-size: 25px;
	}
	
	&__text {
		text-align: center;
		font-weight: 200;
		font-size: 20px;
		max-width: 350px;
		margin: 0 auto;
	}

	&__dots {
		display: none;
		justify-content: center;
		gap: 20px;
		padding-top: 60px;

		@include media('<=lg') {
			display: flex;
		}
	}

	&__dot {
		@extend %reset-button;
		aspect-ratio: 1;
		width: 14px;
		background-color: #828282;
		border-radius: 100px;

		&.active {
			background-color: var(--darkgreen);
		}
	}
}