@use 'lib' as *;

.menu {
	$self: &;
	font-weight: 500;
	font-size: 25px;
	color: var(--darkgreen);
	display: flex;
	justify-content: space-between;

	&__close {
		@extend %reset-button;
		display: none;
		height: 24px;
		width: 24px;

		img {
			width: 72%;
			height: 72%;
			display: block;
			object-fit: cover;
		}

	}

	&__link {
		color: inherit;
		text-decoration: none;
		height: 60px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
}
