@use 'lib' as *;

.header {
	$self: &;
	background: url('./images/bg-header.svg') calc(50% - 28px) 50% / cover no-repeat #fff;
	padding-bottom: 30px;
	
	@include media('<=sm') {
		background-position: calc(50% + 200px) 50%;
	}
	
	@include media('<=xs') {
		background-position: calc(50% + 220px) 50%;
		padding-bottom: 26px;
	}

	@include media('<=xxs') {
		background: url('./images/bg-header-mobile.svg') center bottom / auto no-repeat #fff;
	}

	&_rtl {
		#{$self}__title {
			font-family: "AS", sans-serif;
			font-size: fluid(67px, 30px);
			font-weight: 800;
		}

		#{$self}__side {
			direction: rtl;
		}
		
		#{$self}__sentence {
			font-family: "AS", sans-serif;
			font-weight: 300;
		}
		
		#{$self}__button {
			font-family: "AS", sans-serif;

		}
	}

	&__inner {
		position: relative;
		min-height: fluid(1130px, 520px);
		max-width: 1260px;
		display: flex;
		flex-flow: column nowrap;
		gap: 24px;
		
		@include media('<=sm') {
			min-height: 920px;
			gap: 50px;
		}
		
		@include media('<=xs') {
			gap: 65px;
		}
		
		@include media('<=xxs') {
			min-height: 820px;
		}

		&::before {
			display: block;
			content: '';
			background: url('./images/decor-1.svg') center / contain no-repeat transparent;
			width: fluid(640px, 150px);
			aspect-ratio: 1.45;
			translate: -46% -37%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			
			@include media('<=xs') {
				scale: -1 1;
				translate: -55% -40%;
				left: 100%;
			}
			
			@include media('<=xxs') {
				// z-index: 12;
			}
		}
		
		&::after {
			display: none;
			content: '';
			background: url('./images/decor-3.svg') center / contain no-repeat transparent;
			scale: -1 1;
			width: 210px;
			aspect-ratio: 2.3;
			position: absolute;
			left: calc(var(--gap) * -1);
			top: -10px;
			
			@include media('<=xs') {
				display: block;
			}
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-top: 40px;
		z-index: 10;
		gap: 50px;
		
		@include media('<=md') {
			
		}
		
		@include media('<=sm') {
			position: static;
		}
		
		@include media('<=xs') {
			flex-flow: column nowrap;
			justify-content: center;
			flex-direction: column-reverse;
			padding-top: 15px;
			gap: 5px;
		}
	}

	&__toggle {
		@extend %reset-button;
		display: none;
		height: 28px;
		width: 36px;
		margin-left: 16px;

		@include media('<=sm') {
			display: block;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	&__menu {
		display: contents;

		@include media('<=md') {
			margin: 0 auto;
		}
		
		@include media('<=sm') {
			position: fixed;
			z-index: 11;
			top: 0;
			left: -410px; 
			width: 100%;
			max-width: 400px;
			height: calc(var(--vh, 1dvh) * 100);
			box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
			transition: left 0.3s linear;
			background-color: #fff;
			display: flex;
	
			&.opened {
				left: 0;
			}
		}
	}

	&__lang {
		color: #6B6B6B;
		text-decoration: none;
		display: flex;
		align-items: center;
		line-height: 1.0;
		gap: 14px;
		font-size: fluid(20px, 16px);

		&::before {
			display: none;
			content: '';
			width: 22px;
			height: 22px;
			border-radius: 100px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&_he::before {
			display: block;
			background-image: url('./images/flag-he.webp');
		}
		
		&_ru::before {
			display: block;
			background-image: url('./images/flag-ru.webp');
		}
	}

	&__logo {
		max-width: 150px;

		@include media('<=xxs') {
			// max-width: 115px;
			// margin-bottom: 20px;
			// font-size: 9px;
		}
	}

	&__body {
		display: flex;
		gap: 48px;
		
		@include media('<=sm') {
			flex-flow: column nowrap;
		}
		
		@include media('<=xs') {
			gap: 30px;
		}

	}

	&__image {
		width: fluid(730px, 315px);
		aspect-ratio: 1;
		align-self: flex-start;
		border-radius: 1000px;
		margin-left: -15%;
		overflow: hidden;
		flex-shrink: 0;

		@include media('<=xs') {
			margin: 0 auto;
			max-width: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	&__side {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding-top: 65px;

		@include media('<=sm') {
			padding: 0;
		}
	}

	&__title {
		font-weight: 700;
		color: var(--darkgreen);
		font-size: fluid(50px, 20px);
		margin-bottom: 30px;
		
		@include media('<=xs') {
			margin-bottom: 14px;
			text-align: center;
		}
	}

	&__sentence {
		font-weight: 100;
		margin-bottom: 50px;
		font-size: fluid(25px, 14px);
		
		@include media('<=lg') {
			br {
				display: none;
			}
		}
		
		@include media('<=xs') {
			margin-bottom: 40px;
			text-align: center;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 10px;
		height: 70px;
		color: #000;
		line-height: 1;
		font-size: fluid(25px, 23px);
		font-weight: 700;
		text-decoration: none;
		background-color: var(--green);
		border-radius: 15px;
		width: 100%;
		max-width: 260px;
		min-width: fit-content;

		@include media('<=xs') {
			margin: 0 auto;
		}
	}
}